.footer-bg {
  max-height: 150px;
  justify-content: center;
  align-items: center;
  background-color: purple;
  width: 100%;
  padding: 7px 0;
  position: fixed;
  bottom: 0;
}

.footer-text {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}
