.navbar-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: purple;
  box-sizing: content-box;
  padding: 7px 100px;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.logo-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
}

.logo {
  width: 40px;
  height: 40px;
  color: white;
}

.logo-name {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}
